footer {
    border-top: 1px #00000012 solid;
}
.footer {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .customer-about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
        p {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            margin: 0;
        }
        h3 {
            color: #000;
            font-weight: 500;
        }
    }
    img {
        width: 120px;
    }
    a {
        text-decoration: none;
    }
    h1 {
        font-size: 26px;
    }
    p {
        color: #808080;
        text-decoration: underline;
        text-decoration-color: #00000000;
        text-decoration-thickness:1.25 px;
        text-underline-offset: 0.5rem;
        @include transition;
        &:hover {
            text-decoration-color: #808080 ;
            @include transition;
        }
    }
    .newsletter {
        grid-column: 4 / -1;
        p {
            color: #808080;
            text-decoration: none;
        }
        .form {
            display: flex;
            input {
                width: 250px;
                background-color:#ffffff;
                color: #00000079;
                border: 1px lightgray solid;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                padding: 5px 0px 5px 8px;
            }
            button {
                padding: 10px 29px;
            }
        }
        .logos {
            margin-top: 20px;
        }  
    }     
}
.footer-bottom {
    background-color:#808080;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 15px 0;
    a {
        color: white;
    }
}