html {
    scroll-behavior: smooth;
}
.wrapper {
    margin: 0 auto;
}

.main-home .wrapper {
    width: 90vw;
}

h1 {
    color: #000;
    text-transform: uppercase;
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1px;
}

h3 {
    color: #808080;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 14px;
}

button {
    cursor: pointer;
    background-color: gray;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 17px 29px;
    &:hover {
        background-color: #a3a1a1;
    }
    
}