.header-sup {
    width: 100%;
    background-color: grey;
    color:#fff;
    .container {
        display: flex;
        justify-content: space-between;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        p {
            font-size: 14px;
            margin: 11px 0;
        }
    }

}