.main-home {

    margin-top: 170px;

    .vineyard {
        width: 100%;
        height: 607px;
        background: url(../images/hero-vines_1920x700_crop_center.jpg) center/cover;
        display: flex;
        flex-direction: column;
        justify-content:  center;
        align-items: center;
        position: relative;

        h3 {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-size: 14px;
            cursor: default;
            z-index: 1;
           
            
        }

        h1 {
            color: #fff;
            margin: 10px 0;
            font-size: 45px;
            z-index: 1;
            letter-spacing: 2px;
        }
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background-color: #0000002d;

        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 450px;
        gap: 2.2rem;
        h1 {
            font-size: 24px;
            text-decoration: underline;
            text-decoration-color: #00000000;
            text-underline-offset: 0.6rem;
            @include transition;
        }
        .img {
            height: 400px;
            background-position: center;
            background-size: 105%;
            background-repeat: no-repeat;
            @include transition;
        }
        .case {
            cursor: pointer;
        }
        .case:nth-of-type(1) .img {
            background-image: url(../images/clubimage_500x_crop_center.png);
            
        }
        .case:nth-of-type(2) .img {
            background-image: url(../images/news_500x_crop_center.png);
        }
        .case:nth-of-type(3) .img {
            background-image: url(../images/abut_500x_crop_center.png);
        }
        .case:nth-of-type(4) .img {
            background-image: url(../images/theweine_500x_crop_center.png);
        }

        .case:hover {
            h1 {
            text-decoration-color: #000;
            @include transition;
            }
            .img {
                background-size: 112%;
                @include transition;
            }
        }
    }
}
.titles {
    margin-top: 50px;
    text-align: center;
}

.approach {
    margin-top: 50px;
    padding: 50px 0;
    width: 100%;
    background-color: #fafafa;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left, .right {
            height: 782px;
        }
        .left {
            background: url(../images/DSC01342_560x630.png) center/cover;
            width: 608px;
        }
        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 100px;
            width: 400px;
            h1, p {
                text-align: center;
            }
            h1 {
                line-height: 1.2;
            }
            p {
                line-height: 1.5;
            }
            button {
                width: 200px;
            }
        }
        
    } 
    
}

.tailored {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    .bloc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .up {
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            height: 700px;
            @include transition;
            &:hover {
                background-size: 105%;
                @include transition;
            }
        }   
        .down {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0 100px;
            h1 {
                font-size: 28px;
                margin: 40px 0 0;
            }
            p {
                line-height: 1.5;
                text-align: center;
                margin: 15px 0 10px;
                font-size: 15px;
            }
            .underlined {
            display: flex;
            justify-content: center;
            align-items: center;
            gap:10px;
                p {
                    color: #808080;
                    font-size: 12px;
                    margin: 0;
                    vertical-align: center;
                }
                a {
                    text-decoration: none;
                    vertical-align: center;

                    h3 {
                        text-decoration: underline;
                        text-decoration-color: #00000000;
                        text-decoration-thickness:1.25 px;
                        text-underline-offset: 0.6rem;
                        @include transition;
                        margin: 0;

                        &:hover {
                            text-decoration-color: #808080 ;
                            @include transition;
                        }
                    }
                }
            }
        }
    }
    .bloc:nth-of-type(1) .up {
        background-image: url(../images/maddy_660x699_crop_center.webp);
    }
    .bloc:nth-of-type(2) .up {
        background-image: url(../images/WHITEHALL_VINEYARD_PEOPLE_49_660x699_crop_center.webp);   
    }
}

.grapevine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    .img {
            background-position: center;
            background-size: 107%;
            background-repeat: no-repeat;
            height: 300px;
            display: block;
            @include transition;
            &:hover {
                background-size: 115%;
                @include transition;
            }
    }
    a {
        text-decoration: none;
    }
    a:nth-of-type(2)
    {
       
        h3 {
            text-decoration: none;
            margin: 30px 0 10px;
            span {
                font-weight: 300;
                font-size: 15px;
            }
        }
    }
    h1 {
        font-size: 22px;
        height: 83px;
    }
    h3 {
        text-decoration: underline;
        text-decoration-color: #f6070700;
        text-decoration-thickness:1.25 px;
        text-underline-offset: 0.4rem;
        @include transition;
        margin: 0;
        font-size: 12px;
        font-weight: 400;

        &:hover {
            text-decoration-color: gray;
            @include transition;
        }
    }
    p {
        font-size: 14px;
        line-height: 1.5;
    }

    .case:nth-of-type(1) .img {
        background-image: url(../images/Screenshot_2023-06-26_at_15.19.11_400x.webp);
    }
    .case:nth-of-type(2) .img {
        background-image: url(../images/Screenshot_2023-06-26_at_15.33.48_400x.webp);
    }
    .case:nth-of-type(3) .img {
        background-image: url(../images/E-Voucher_SQ_New-min-1499x1578_400x.webp);
    }
}

.bottom-button {
    margin: 40px 0;
    text-align: center;
}